{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>GDC Submitter Translation UI</h1>
    <p class="lead">This application is to help submitter create YAML and CONF input files for the <a href="https://github.com/NCI-GDC/gdc-submitter">GDC submitter</a>.</p>
    <hr class="my-4">
    <p>Check more details on <a href="/about">About</a> page before start!</p>
    <a href="/upload" class="btn btn-success btn-lg" role="button" aria-pressed="true">START</a>
  </div>
<ul><p class="lead font-weight-bold">07/03/2018 Version 2.0:</p>
  <li><p>The UI can accept multiple nodes from single uploaded TSV, which will generate multiple node yaml files and one single task conf file and one to_be_deleted.yaml if desired.</p>
  </li>
</ul>
<ul><p class="lead font-weight-bold">05/29/2018 Version 1.0:</p>
  <li><p>The UI is able to create one single node from uploaded TSV at a time.</p>
  </li>
  <li><p>The CONF file could only have <strong>ONE</strong> link. However the UI is able to create multiple links if submitter selects more than one.</p>
  </li>
</ul>

{% endblock %}
