
{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-left">
  <form action="{{ url_for('output', snode=selected_node) }}" method="POST">
    <table class="table table-sm" id="mappingTable">
      <tr>
        <th>Required for <code>{{ selected_node }}</code> :</th>
        <th>Header from your input</th>
        <th>Choose default value</th>
      </tr>
      {% for rk in required_list %}
      <tr>
          <td class="align-middle"><label for="{{ rk }}"><kbd>{{ rk }}</kbd></label></td>
          <td>
            <div class="form-group">
              <select name="{{ rk }}" class="form-control">
                <option value="not_defined">not_defined</option>
                {% set fieldList = header.split('\t') %}
                {% for field in fieldList %}
                <option value="{{ field }}">{{ field }}</option>
                {% endfor %}
              </select>
            </div>
          </td>
          <td>
            <div class="form-group">
              {% for key, value in enum.items() %}
                {% if rk == key %}
                  <select class="form-control" name="default_{{ rk }}">
                    <option value="not_defined">not_defined</option>
                    {% for v in value %}
                    <option value="{{ v }}">{{ v }}</option>
                    {% endfor %}
                  </select>
                {% endif %}
              {% endfor %}
            </div>
          </td>
      </tr>
      {% endfor %}
      <tr>
        <th>Optional for <code>{{ selected_node }}</code> :</th>
        <th></th>
        <th></th>
      </tr>
      {% for ok in optional_list %}
      <tr>
          <td class="align-middle"><label for="{{ ok }}"><kbd>{{ ok }}</kbd></label></td>
          <td>
            <div class="form-group">
              <select name="{{ ok }}" class="form-control">
                <option value="not_defined">not_defined</option>
                {% set fieldList = header.split('\t') %}
                {% for field in fieldList %}
                <option value="{{ field }}">{{ field }}</option>
                {% endfor %}
              </select>
            </div>
          </td>
          <td>
            <div class="form-group">
              {% for key, value in enum.items() %}
                {% if ok == key %}
                  <select class="form-control" name="default_{{ ok }}">
                    <option value="not_defined">not_defined</option>
                    {% for v in value %}
                    <option value="{{ v }}">{{ v }}</option>
                    {% endfor %}
                  </select>
                {% endif %}
              {% endfor %}
            </div>
          </td>
          <td><input type="button" value="Delete" onclick="deleteRow(this)" class="btn btn-danger"></td>
      </tr>
      {% endfor %}
      <tr>
        <th>Optional exclusive fields for <code>{{ selected_node }}</code> :</th>
        <th></th>
        <th></th>
      </tr>
      {% for ek in exclusive_list %}
      <tr>
          <td>
            <div class="form-group">
              <select name="exclusive_field_{{ loop.index }}" class="form-control">
                {% for field in ek %}
                <option value="{{ field }}">{{ field }}</option>
                {% endfor %}
              </select>
          </td>
          <td>
            <div class="form-group">
              <select name="exclusive_chosen_{{ loop.index }}" class="form-control">
                <option value="not_defined">not_defined</option>
                {% set fieldList = header.split('\t') %}
                {% for field in fieldList %}
                <option value="{{ field }}">{{ field }}</option>
                {% endfor %}
              </select>
            </div>
          </td>
          <td>
            <div class="form-group">
              {% for key, value in enum.items() %}
                {% if ek == key %}
                  <select class="form-control" name="default_{{ ek }}">
                    <option value="not_defined">not_defined</option>
                    {% for v in value %}
                    <option value="{{ v }}">{{ v }}</option>
                    {% endfor %}
                  </select>
                {% endif %}
              {% endfor %}
            </div>
          </td>
          <td><input type="button" value="Delete" onclick="deleteRow(this)" class="btn btn-danger"></td>
      </tr>
      {% endfor %}
    </table>
    <input type="submit" value="Map" class="btn btn-outline-info">
  </form>
</div>
<br>
<br>
<div class="btn-group btn-group-justified fixed-bottom">
  <a href="/upload" class="btn btn-outline-success">Upload your fields</a>
  <button type="button" class="btn btn-info btn-block">Map to GDC</button>
  <button type="button" class="btn btn-outline-primary" disabled>Get your output</button>
</div>
<script>
function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("mappingTable").deleteRow(i);
}
</script>
{% endblock %}
