
{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-left">
  <form action="{{ url_for('output', snodes=snodes) }}" method="POST" id="user_form">
    <div class="container">
      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist">
        {% for node in nodes_dict.keys() %}
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#{{ node }}"><code>{{ node }}</code></a>
        </li>
        {% endfor %}
        <li>
          <a class="nav-link" data-toggle="pill" href="#Submit"><code>Submit</code></a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        {% for node, prop in nodes_dict.items() %}
        <div id="{{ node }}" class="container tab-pane fade"><br>
          <table class="table table-sm" id="table-{{ node }}">
            <tr>
              <th>Required for <code>{{ node }}</code> :</th>
              <th>Header from your input</th>
              <th>Choose default value</th>
            </tr>
            {% if prop.get('required') %}
            {% for rk in prop['required'] %}
            <tr>
                <td class="align-middle"><label for="{{ node }}_{{ rk }}"><kbd>{{ rk }}</kbd></label></td>
                <td>
                  <div class="form-group">
                    <select name="{{ node }}_{{ rk }}" class="form-control js-example-basic-single" style="width: 100%">
                      <option value="not_defined">not_defined</option>
                      {% set fieldList = header.split('\t') %}
                      {% for field in fieldList %}
                      <option value="{{ field }}">{{ field }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    {% for key, value in prop['enums'].items() %}
                      {% if rk == key %}
                        <select class="form-control js-example-basic-single" style="width: 100%" name="{{ node }}_default_{{ rk }}">
                          <option value="not_defined">not_defined</option>
                          {% for v in value %}
                          <option value="{{ v }}">{{ v }}</option>
                          {% endfor %}
                        </select>
                      {% endif %}
                    {% endfor %}
                  </div>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            {% endif %}
            {% if prop.get('optional') %}
            <tr>
              <th>Optional for <code>{{ node }}</code> :</th>
              <th></th>
              <th></th>
            </tr>
            {% for ok in prop['optional'] %}
            <tr>
                <td class="align-middle"><label for="{{ node }}_{{ ok }}"><kbd>{{ ok }}</kbd></label></td>
                <td>
                  <div class="form-group">
                    <select name="{{ node }}_{{ ok }}" class="form-control js-example-basic-single" style="width: 100%">
                      <option disabled selected value="">select from your header</option>
                      <option value="not_defined">not_defined</option>
                      {% set fieldList = header.split('\t') %}
                      {% for field in fieldList %}
                      <option value="{{ field }}">{{ field }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    {% for key, value in prop['enums'].items() %}
                      {% if ok == key %}
                        <select class="form-control js-example-basic-single" style="width: 100%" name="{{ node }}_default_{{ ok }}">
                          <option disabled selected value="">select default</option>
                          <option value="not_defined">not_defined</option>
                          {% for v in value %}
                          <option value="{{ v }}">{{ v }}</option>
                          {% endfor %}
                        </select>
                      {% endif %}
                    {% endfor %}
                  </div>
                </td>
                <td><input type="button" value="Delete" class="btn btn-danger" onclick="$(this).closest('tr').hide()"></td>
            </tr>
            {% endfor %}
            {% else %}
            {% endif %}
            {% if prop.get('exclusive_links') %}
            <tr>
              <th>Exclusive links for <code>{{ node }}</code> :</th>
              <th></th>
              <th></th>
            </tr>
            {% for ek in prop['exclusive_links'] %}
            <tr>
                <td>
                  <div class="form-group">
                    <select name="link_exclusive_field_{{ node }}_{{ loop.index }}" class="form-control js-example-basic-single" style="width: 100%">
                      {% for field in ek %}
                      <option value="{{ field }}">{{ field }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <select name="link_exclusive_chosen_{{ node }}_{{ loop.index }}" class="form-control js-example-basic-single" style="width: 100%">
                      <option disabled selected value="">select from your header</option>
                      <option value="not_defined">not_defined</option>
                      {% set fieldList = header.split('\t') %}
                      {% for field in fieldList %}
                      <option value="{{ field }}">{{ field }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </td>
                <td>
                </td>
                <td><input type="button" value="Delete" class="btn btn-danger" onclick="$(this).closest('tr').hide()"></td>
            </tr>
            {% endfor %}
            {% elif prop.get('inexclusive_links') %}
            <tr>
              <th>Links for <code>{{ node }}</code> :</th>
              <th></th>
              <th></th>
            </tr>
            {% for ik in prop['inexclusive_links'] %}
            <tr>
                <td class="align-middle"><label for="link_{{ node }}_{{ ik }}"><kbd>{{ ik }}</kbd></label></td>
                <td>
                  <div class="form-group">
                    <select name="link_{{ node }}_{{ ik }}" class="form-control js-example-basic-single" style="width: 100%">
                      <option disabled selected value="">select from your header</option>
                      <option value="not_defined">not_defined</option>
                      {% set fieldList = header.split('\t') %}
                      {% for field in fieldList %}
                      <option value="{{ field }}">{{ field }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </td>
                <td>
                </td>
                <td><input type="button" value="Delete" class="btn btn-danger" onclick="$(this).closest('tr').hide()"></td>
            </tr>
            {% endfor %}
            {% elif prop.get('links') %}
            <tr>
              <th>Links for <code>{{ node }}</code> :</th>
              <th></th>
              <th></th>
            </tr>
            {% for lk in prop['links'] %}
            <tr>
                <td class="align-middle"><label for="link_{{ node }}_{{ lk }}"><kbd>{{ lk }}</kbd></label></td>
                <td>
                  <div class="form-group">
                    <select name="link_{{ node }}_{{ lk }}" class="form-control js-example-basic-single" style="width: 100%">
                      <option disabled selected value="">select from your header</option>
                      <option value="not_defined">not_defined</option>
                      {% set fieldList = header.split('\t') %}
                      {% for field in fieldList %}
                      <option value="{{ field }}">{{ field }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </td>
                <td>
                </td>
                <td><input type="button" value="Delete" class="btn btn-danger" onclick="$(this).closest('tr').hide()"></td>
            </tr>
            {% endfor %}
            {% else %}
            {% endif %}
            <tr>
              <th>Config options:</th>
              <th>ID type</th>
              <th></th>
            </tr>
            <tr>
                <td class="align-middle"><label for="link_{{ node }}_id_type"><kbd>link_id_type</kbd></label></td>
                <td>
                  <div class="form-group">
                    <select name="link_{{ node }}_id_type" class="form-control js-example-basic-single" style="width: 100%">
                      <option value="id">id</option>
                      <option value="submitter_id">submitter_id</option>
                    </select>
                  </div>
                </td>
                <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <input type="button" value="Undo" class="btn btn-info" onclick="$(this).parents('table').find('tr').show()">
              </td>
            </tr>
          </table>
        </div>
        {% endfor %}
        <div id="Submit" class="container tab-pane fade"><br>
          <table class="table table-sm" id="table-Submit">
            <tr style="display:none" id="tbd_header">
              <th>Required for <code>to_be_deleted.yaml</code> </th>
              <th>Selections</th>
              <th></th>
            </tr>
            <tr style="display:none" id="tbd_id_type">
              <td class="align-middle"><label for="tbd_id_type"><kbd>id_type</kbd></label></td>
              <td>
              <div class="form-group">
                <select name="tbd_id_type" class="form-control js-example-basic-single" style="width: 100%">
                  <option disabled value="" selected>...</option>
                  <option value="id">id</option>
                  <option value="submitter_id">submitter_id</option>
                </select>
              </div>
              </td>
              <td></td>
            </tr>
            <tr style="display:none" id="tbd_source_field">
              <td class="align-middle"><label for="tbd_source_field"><kbd>source_field</kbd></label></td>
              <td>
              <div class="form-group">
                <select name="tbd_source_field" class="form-control js-example-basic-single" style="width: 100%">
                  <option disabled value="" selected>...</option>
                  <option value="not_defined">not_defined</option>
                  {% set fieldList = header.split('\t') %}
                  {% for field in fieldList %}
                  <option value="{{ field }}">{{ field }}</option>
                  {% endfor %}
                </select>
              </div>
              </td>
              <td></td>
            </tr>
            </table>
            <input type="checkbox" id="myCheck" onclick="checkdisplay()"> Create "to_be_deleted.yaml"</input>
            <br><br>
            <input type="submit" value="Map" class="btn btn-outline-info">
          </table>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="btn-group btn-group-justified fixed-bottom">
  <a href="/upload" class="btn btn-outline-success">Select & Upload</a>
  <button type="button" class="btn btn-info btn-block">Select & Map</button>
  <button type="button" class="btn btn-outline-primary" disabled>Check & Download</button>
</div>
<script>
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});
function checkdisplay() {
    var checkBox = document.getElementById("myCheck");
    var Row0 = document.getElementById("tbd_header")
    var Row1 = document.getElementById("tbd_id_type");
    var Row2 = document.getElementById("tbd_source_field");
    if (checkBox.checked == true){
        Row0.style.display = "table-row";
        Row1.style.display = "table-row";
        Row2.style.display = "table-row";
    } else {
       Row0.style.display = "none";
       Row1.style.display = "none";
       Row2.style.display = "none";
    }
}
</script>
{% endblock %}
