{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-left">
  <div class="form-group">
    <label for="inputYamlToSave">Preview output .yaml</label>
    <textarea id="inputYamlToSave" class="form-control" rows="10">{{ yaml_data }}</textarea>
    <br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button onclick="saveTextAsFile('inputYamlToSave', 'inputYamlNameToSaveAs')" class="btn btn-outline-primary" type="button">Download</button>
      </div>
      <input id="inputYamlNameToSaveAs" type="text" class="form-control" value="{{ snode }}.yaml" aria-label="{{ snode }}.yaml" aria-describedby="basic-addon2">
    </div>
  </div>
</div>
<br>
<div class="jumbotron text-left">
  <div class="form-group">
    <label for="inputConfToSave">Preview output .conf</label>
    <textarea id="inputConfToSave" class="form-control" rows="10">{{ conf_data }}</textarea>
    <br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button onclick="saveTextAsFile('inputConfToSave', 'inputConfNameToSaveAs')" class="btn btn-outline-primary" type="button">Download</button>
      </div>
      <input id="inputConfNameToSaveAs" type="text" class="form-control" value="{{ snode }}.conf" aria-label="{{ snode }}.conf" aria-describedby="basic-addon2">
    </div>
  </div>
</div>
<br>
{% if to_be_deleted %}
<div class="jumbotron text-left">
  <div class="form-group">
    <label for="ToBeDeletedToSave">Preview to_be_deleted.yaml</label>
    <textarea id="ToBeDeletedToSave" class="form-control" rows="10">{{ to_be_deleted }}</textarea>
    <br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button onclick="saveTextAsFile('ToBeDeletedToSave', 'ToBeDeletedToSaveAs')" class="btn btn-outline-primary" type="button">Download</button>
      </div>
      <input id="ToBeDeletedToSaveAs" type="text" class="form-control" value="to_be_deleted.yaml" aria-label="to_be_deleted.yaml" aria-describedby="basic-addon2">
    </div>
  </div>
</div>
<br>
{% else %}
{% endif %}
<div class="btn-group btn-group-justified fixed-bottom">
  <a href="/upload" class="btn btn-outline-success">Select & Upload</a>
  <button type="button" class="btn btn-outline-info" disabled>Select & Map</button>
  <button type="button" class="btn btn-primary btn-block">Check & Download</button>
</div>

<script type="text/javascript">

function saveTextAsFile(filecontent, filename)
{
    var textToSave = document.getElementById( filecontent ).value;
    var textToSaveAsBlob = new Blob([textToSave], {type:"text/plain"});
    var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
    var fileNameToSaveAs = document.getElementById( filename ).value;

    var downloadLink = document.createElement("a");
    downloadLink.download = fileNameToSaveAs;
    downloadLink.innerHTML = "Download File";
    downloadLink.href = textToSaveAsURL;
    downloadLink.onclick = destroyClickedElement;
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);

    downloadLink.click();
}

function destroyClickedElement(event)
{
    document.body.removeChild(event.target);
}

</script>
{% endblock %}
