{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-left">
  <div class="form-group">
    <label for="inputTextToSave">Preview</label>
    <textarea id="inputTextToSave" class="form-control" rows="25">{{ data }}</textarea>
    <br>
    <div class="input-group mb-3">
      <input id="inputFileNameToSaveAs" type="text" class="form-control" placeholder="File name to save as" aria-label="File name to save as" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button onclick="saveTextAsFile()" class="btn btn-outline-primary" type="button">Download</button>
      </div>
    </div>
  </div>
</div>
<div class="btn-group btn-group-justified fixed-bottom">
  <a href="/upload" class="btn btn-outline-success">Upload your fields</a>
  <button type="button" class="btn btn-outline-info" disabled>Map to GDC</button>
  <button type="button" class="btn btn-primary btn-block">Get your output</button>
</div>
<br>

<script type="text/javascript">

function saveTextAsFile()
{
    var textToSave = document.getElementById("inputTextToSave").value;
    var textToSaveAsBlob = new Blob([textToSave], {type:"text/plain"});
    var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
    var fileNameToSaveAs = document.getElementById("inputFileNameToSaveAs").value;

    var downloadLink = document.createElement("a");
    downloadLink.download = fileNameToSaveAs;
    downloadLink.innerHTML = "Download File";
    downloadLink.href = textToSaveAsURL;
    downloadLink.onclick = destroyClickedElement;
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);

    downloadLink.click();
}

function destroyClickedElement(event)
{
    document.body.removeChild(event.target);
}

</script>
{% endblock %}
