{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-left">
  <form class="form-group" method="POST" enctype="multipart/form-data" action="{{ url_for('mapping') }}">
    <label for="comp_select">Select desired node type</label>
    <select name="comp_select" class="form-control">
      {% for key in node_list %}
      <option value="{{ key }}">{{ key }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="uploadFile">Upload your related input</label>
      <div class="custom-file" id="uploadFile" lang="es">
          <input name="uploadFile" type="file" class="custom-file-input" id="uploadFile" aria-describedby="fileHelp" onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])" required>
          <label class="custom-file-label" for="uploadFile">Select file...</label>
      </div>
    <small id="fileHelp" class="form-text text-muted text-right">Only .csv file is allowed.</small>
    <input type="submit" value="Upload" class="btn btn-outline-success">
  </form>
</div>
<div class="btn-group btn-group-justified fixed-bottom">
  <a href="/upload" class="btn btn-success btn-block">Upload your fields</a>
  <button type="button" class="btn btn-outline-info" disabled>Map to GDC</button>
  <button type="button" class="btn btn-outline-primary" disabled>Get your output</button>
</div>
{% endblock %}
